# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# FindGraphQL Tags
/FindGraphQLTags-30415c0f8ba61a8b528a98f6e03d078c

#Jest
/jest_0

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pgDatas
node_modules
