.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.background{
  background-color: #17a2b8;
  height: 35vh;
  opacity: 0.9;
  overflow-y: auto;
}

.background .my-header{
  opacity: 0.8;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Helvetica;
  font-weight: lighter;
}

#open-icon{
  font-weight: lighter;
  width: 200px;
  height: 200px;
  float: left;
  background-size: cover;
  background-color: #343a40;
  border-style: solid;
  opacity: 0.8;
  margin-right: 30px;
  transition: 0.4s ease-out;
}

#open-icon:hover{
  height: 400px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
